<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Producttype</title>
</head>
<body>

<p th:text="'Product type\'s ID:' + ${producttype.getId()}"></p>
<p th:text="'Product type\'s name: ' + ${producttype.getName()}"></p>
<p th:text="'Product type\'s description:' + ${producttype.getDescription()}"></p>

<br/>
<hr/>
<a th:href="@{/producttype/{id}/edit(id=${producttype.getId()})}">Edit</a>
<br/>
<hr/>
<form th:method="DELETE" th:action="@{/producttype/{id}(id=${producttype.getId()})}">
    <input type="submit" value="Delete"/>
</form>

</body>
</html>