<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
</head>
<body>

<p th:text="'Product\'s ID:' + ${product.getId()}"></p>
<p th:text="'Product\'s name: ' + ${product.getName()}"></p>
<p th:text="'Product\'s price: ' + ${product.getPrice()}"></p>
<p th:text="'Product\'s calories: ' + ${product.getCalories()}"></p>
<p th:text="'Product\'s supplier: ' + ${product.getSupplier()}"></p>
<p th:text="'Product\'s composition: ' + ${product.getComposition()}"></p>
<p th:text="'Product\'s type: ' + ${product.getType()}"></p>

<br/>
<hr/>
<a th:href="@{/product/{id}/edit(id=${product.getId()})}">Edit</a>
<br/>
<hr/>
<form th:method="DELETE" th:action="@{/product/{id}(id=${product.getId()})}">
    <input type="submit" value="Delete"/>
</form>

</body>
</html>